body {
    font-family: 'Poppins', sans-serif;
}
.viewport {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .scroll-container {  
    position: absolute;  
    overflow: hidden;
    z-index: 10;
    display: flex;
    justify-content: center;  
    backface-visibility: hidden;
    transform-style: preserve-3d;
    width: 100%;
  }
section {
    padding: 100px 0;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 300;
    line-height: 1.8;
}

.about h1 {
    font-size: 60px;
    position: relative;
}

.about h1:after {
    content: "";
    background-color: #fff;
    bottom: -12px;
    height: 8px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70px;
}
.sub-section h2{
    font-size: 54px;
    position: relative;
    font-weight: 700;
}

.about h3 {
    color: #0d6efd;
}

.bg-black {
    background-color: black;
}
.sub-section img {
   margin-bottom: 24px;
}
.sub-section p {
    font-size: 16px;
    font-weight: 500;
}
.image {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image.custom img {
    max-height: 55px;
    opacity: 0.6;
}
section h3 {
    font-size: 24px;
}
p.subtext {
    font-size: 15px;
    font-weight: 300;
    opacity: 0.8;
}
.form-control {
    padding: 0.65rem 0.75rem;
    border-radius: 0.125rem;
}

ul.social li a img {
    width: 32px;
    margin: 0;
}

ul.social {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}

.navbar{
    transition: all 0.6s;
}
ul.social li{
    margin-left: 20px;
}
.fixed-header {
    position: fixed;
    width: 100%;
    transition: all 0.6s;
    box-shadow:0px 1px 4px rgb(153 153 153 / 35%);
    z-index: 999;
}